/*********************************************************************
***
*Original Author: Michelle Petit                                  *
*Date Created:  10-01-2020                                        *
*Version: 1                                                       *
*Date Last Modified: 10-03-2020                                   *
*Modified by: Michelle Petit                                      *
*Modification log: added styles, including button styles from     *
                    CSSWand                                       *
*Modification log: fixed #ghost styles so the animation runs      *
***
******************************************************************** */
/* html styles */
html {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* body styles */
body {
  display: flex;
  flex-direction: column;
}
/* main styles */
main {
  padding-top: 0.5rem;
  max-width: 100%;
  min-height: 90vh;
  background-image: url("images/mountain_landscape_lg.jpg");
  background-color: white;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}
/* div styles */
div {
  margin-bottom: 2rem;
}
/* banner styles */
#welcome_message {
  color: white;
  background-color: #cf8dbb;
  font-family: "Sriracha", Helvetica, Arial, sans-serif;
  margin-top: 23vh;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
}
/* button styles from CSSWAND */
button {
  color: white;
  background-color: #cf8dbb;
  border: 2px solid #c595a3;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  width: 15rem;
  height: 3rem;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
button:hover {
  box-shadow: 1px 1px #531834, 2px 2px #531834, 3px 3px #531834;
  transform: translateX(-3px);
}
/* footer styles */
footer {
  background-color: #cf8dbb;
  color: white;
  text-align: center;
  width: 100%;
}
/* ghost styles */
div img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
#ghost {
  top: 100%;
  margin-left: 48%;
  position: absolute;
  transform: translateY(0);
}
